html,
body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    margin: auto;
}

.game {
    font-family: sans-serif;
}

.wrap {
    width: 512px;
    margin: 2em auto 0;
}

.instructions {
    float: left;
    color: #757575;
}

.key {
    color: #aaffdd;
}

.score {
    float: right;
    color: white;
    font-size: 2em;
}

.over,
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: none;
    margin: auto;
}

.over {
    height: 200px;
    text-align: center;
    color: #fff;
}

.over h1 {
    font-size: 3em;
}

.over button {
    font-size: 1.5em;
}

.overlay {
    background-color: #000;
    opacity: .5;
}